body{
    background-color: rgb(54, 52, 52);
    h1{
        color: black;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:xx-large;
        cursor: pointer;
        text-decoration: none;
    }
}
    h2{
        color: white;
    }
    footer{
        background-color:rgb(105, 103, 103);
        color: white;
        position: fixed;
        text-align: center;
        padding: 10px;
        bottom: 0;
        width: 100%;
    }
    #songName{
        align-items: center;
        width: 255px;
    }
    #titulo_crear{
        color: aliceblue;
    }   
    nav {
    display: flex;
    background-color: #088808; /* Verde brillante */
    padding: 10px 20px; /* Espaciado interno */
    position: fixed; /* Fija la barra en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para efecto visual */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    align-items: center;
}

/* Estilos para los enlaces de la barra de navegación */
nav ul {
    list-style: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Coloca los elementos en línea */
}

nav ul li {
    margin-right: 20px; /* Espacio entre elementos */
}
nav ul li a {
    color: white; /* Color del texto */
    text-decoration: none; /* Quita el subrayado */
    font-size: 18px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
}

nav ul li a:hover {
    color: #ccffcc; /* Cambia el color al pasar el mouse */
}
.btn-separado{
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 10px;
}
.busqueda{
    display: flex; /* Activa flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 3vh; /* Ocupa toda la altura de la pantalla */
    margin-left: 9cm;
}
.busqueda input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Espacio entre el input y el botón */
}
.busqueda button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#icono{
    height: auto;
    width: 50px;
    margin-right: 15px;
}
.barra_lateral{
    width: 120px; /* Ancho de la barra */
    background-color: rgb(105, 103, 103); /* Gris oscuro */
    height: 100vh!important; /* Altura completa de la ventana */
    padding: 10px; /* Espaciado interno */
    overflow-y: auto;
    position: fixed;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para efecto visual */
}
.barra_lateral ul {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.barra_lateral ul li {
    cursor: pointer;
    margin-bottom: 15px; /* Espacio entre elementos */
    width: 100%;
}

.barra_lateral ul li a {
    color: white !important; /* Color del texto */
    text-decoration: none; /* Quita el subrayado */
    font-size: 18px; /* Tamaño del texto */
    display:block;
    padding: 15px 10px; /* Espaciado interno */
    margin-bottom: 10px;
    border-radius: 5px; /* Bordes redondeados */
    text-align: center;
    box-sizing: border-box;
    transition: background-color 0.5s; /* Transición suave */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.inline-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
#contenido_body{
    display:flex;
    justify-content: flex-start;
    flex-direction:column;
    text-align: center;
    margin-left: 120px;
    margin-top: 80px;
    padding: 10px;
    color: white;
    width: calc(100% - 100px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  #img_login{
    height: 40px;
    width: auto;
    margin-left: 13.5cm;
}
#audioPlayer {
    position: fixed;
    width: calc(100% - 40px);
    width: 100%;
    max-width: 1550px;
    bottom: 40px;
    margin-left: 120px;
    background: #686767;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0px -2px 5px rgb(69, 67, 67);
}

#audioPlayer::-webkit-media-controls-panel {
    background-color: #73e49b; /* Color verde estilo Spotify */
    border-radius: 10px;
}

#audioPlayer::-webkit-media-controls-play-button,
#audioPlayer::-webkit-media-controls-pause-button {
    filter: invert(1); /* Invierte colores para que el botón sea visible */
}

#audioPlayer::-webkit-media-controls-current-time-display,
#audioPlayer::-webkit-media-controls-time-remaining-display {
    color: white;
    font-weight: bold;
}

#audioPlayer::-webkit-media-controls-timeline {
    height: 6px;
    border-radius: 5px;
}

#audioPlayer::-webkit-media-controls-volume-slider {
    width: 80px;
    background: white;
    border-radius: 5px;
}

#img_corchea{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.grid-canciones,.grid-playlists {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.VistaCancion{
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    width:200px;
    height: 200px;
    border: 1px solid #78767600;
    background-color:rgb(84, 84, 84);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(54, 52, 52);
}
.VistaPlaylist{
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    width:200px;
    height: 200px;
    border: 1px solid #78767600;
    background-color:rgb(84, 84, 84);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(54, 52, 52);
}
.VistaCancion:hover, .VistaPlaylist:hover{
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgb(0, 0, 0.3);
}
.VistaCancion img, .VistaPlaylist img{
    max-width: 75%;
    height: auto;
    border-radius: 8px;
}
#img_playlist{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
@media(max-width:768px){
    body{
        font-size: 14px;
    }
    nav{
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    nav ul{
        flex-direction: column;
        width: 100%;
    }
    nav ul li{
        margin: 5px 0;
    }
    .barra_lateral{
        width: 50px;
        padding: 5px;
    }
    .barra_lateral ul li a{
        font-size: 14px;
        padding: 5px;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    #contenido_body h2{
        grid-column: 1 / -1; /* Ocupa desde la primera columna hasta la última */
        text-align: left; /* Alinea el texto a la izquierda */
        margin-top: 20px; /* Espacio superior */
        margin-bottom: 10px; 
    }
    .busqueda {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .grid-canciones{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .grid-playlists{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .busqueda input {
        width: 80%;
    }
    footer {
        position: relative;
        padding: 5px;
        font-size: 12px;
    }
}
@media (max-width:600px){
    #img_login {
        max-width: 70px; 
        height: auto;
        display: block;
        margin-left: 8cm;
    }
    
}